/*
    CSS value functions
    - Transform
*/

div {
  width: 30px;
  height: 30px;
  border: pink solid;

  /* transform: translate(100px, 200px); */
  /* transform: rotate(40deg); */
  /* transform: scale(3); */

  transform: translate(200px, 200px) rotate(40deg) scale(3);
}
