/*
    Media Queries
    - São usadas para aplicar estilos diferentes em diferentes situações
*/

:root {
  --bg-color: purple;
}

body {
  background-color: var(--bg-color);
  color: white;
}

/* @media screen and (max-width: 576px) {
  :root {
    --bg-color: blue;
  }
} */

/* @media (orientation: portrait) {
  :root {
    --bg-color: orangered;
  }
} */

/* Se o tema for dark ele aplica a cor */
/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: orangered;
  }
} */

/* and */
/* @media (min-width: 400px) and (max-width: 500px) {
  :root {
    --bg-color: orangered;
  }
} */

/* Range: Melhor opção, menos confusa! */
@media (width >= 400px) {
  :root {
    --bg-color: orangered;
  }
}

/* Range: not */
/* @media not (width >= 400px) {
  :root {
    --bg-color: orangered;
  }
} */
